<div class="container">
  <div class="list-header">
    <div class="title"><%= @list.name.capitalize %>
    </div>
    <div class="button-header">
      <div class="bookmark-modal">
        <button type="button" class="btn btn btn-flat header-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          New Bookmark  </button>
        <!-- Modal for adding movie -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Bookmark</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [@list, @bookmark] do |f| %>
                  <%= f.input :movie_id, collection: Movie.all.map { |m| [m.title, m.id] }, label: "Movie" %>
                  <%= f.input :comment, label: "What did you think of the film?" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for deleting list -->
      <div class="delete-modal">
        <button type="button" class="btn btn btn-flat header-button" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Delete List  </button>
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <i class="fa-sharp fa-solid fa-trash bin"></i>
                <br>
                Are you sure you want to delete this list?
              </div>
              <div class="modal-footer center">
                <button type="button" class="btn btn btn-flat ms-2 close" data-bs-dismiss="modal">Close</button>
                <%= link_to "Delete", list_path(@list),data: {turbo_method: :delete}, class: "btn btn btn-flat ms-2" %>
              </div>
            </div>
          </div>
        </div>
        <!-- Button HTML (to Trigger Modal) -->
        <!-- end of modal for deleting list -->
      </div>
    </div>
  </div>
  <div class="bookmark-container">
    <% if @bookmarks.length == 0 %>
      <div class="empty">
        <div class="empty-text">It's empty here <br>
          Add a bookmark to start your list!
        </div>
        <div class="empty-image">      <%= image_tag("sitting-1.png") %>
        </div>
      </div>
    <% else %>
      <div class="cards">
        <% @bookmarks.each do |bookmark| %>
          <div class="card-bookmark">
            <div class="card-image-wrapper">
              <%= image_tag(bookmark.movie.poster_url) %>
              <div class="card-text-overlay">
                <%=bookmark.movie.overview.truncate(180) %>
              </div>
            </div>
            <div class="card-bookmark-infos">
              <div>
                <h2><%= bookmark.movie.title %></h2>
                <p><%= bookmark.comment %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
